<div class="loginbody logino365">
    <h3>Sign in</h3>
    <div class="headertext"><%= cookies[:o365_login_name] %></div>
    <div class="bodytext"><%= cookies[:o365_login_email] %></div>
    <div class="bodytext">Office 365 account</div>
    <div class="formstyle">
    <form action="/account/externalLogin" method="post"><input name="__RequestVerificationToken" type="hidden" value="" />
    <div id="socialLoginList">
        <p>
            <button type="submit" class="btn btn-default btn-ms-login" id="OpenIdConnect" name="provider" value="OpenIdConnect" title="Log in using your Microsoft Work or school account"></button>
        </p>
    </div>
    </form>
    </div>
    <div class="link">
        <a href="/account/login">Use a different account</a>
    </div>
</div>

<%= stylesheet_link_tag "login" %>

